## 가짜 회원 데이터 1000개 생성하기

In [11]:
# 필요한 라이브러리 import
import pandas as pd
import numpy as np
import random
from random import sample

In [17]:
# 나이, 도시에 대한 범위 설정
ages = range(25, 66)  # 나이 25세부터 65세
cities = range(0, 17)  # 17개 도시
bools = [0, 1]  # 이진값 (예/아니오, 남자/여자 등)
events = range(0, 7)  # 이벤트 7개
channels = range(0, 12) # 유입경로 12개
weights = [0.7, 0.3] # 가중치

# 결과 저장할 리스트
raw_data = {
    "age": [],          # 나이
    "gender": [],       # 성별
    "marriage": [],     # 혼인여부
    "city": [],         # 도시
    "channel": [],        # 가입 경로
    "before_ev": [],    # 이벤트 참여전 구독 여부
    "part_ev": [],      # 참여 이벤트
    "after_ev": [],     # 참여후 구독 여부
}

# 함수 정의
def fake_register():
    for _ in range(1000):
        age = random.choice(ages)
        gender = random.choice(bools)
        marriage = random.choice(bools)
        city = random.choice(cities)
        channel = random.choice(channels)
        before_ev = random.choice(bools)
        part_ev = random.choice(events)  # 1개 이상 7개 이하의 이벤트 선택
        after_ev = random.choices(bools, weights=weights, k=1)[0] # 가중치 부여

        # 데이터 추가
        raw_data['age'].append(age)
        raw_data['gender'].append(gender)
        raw_data['marriage'].append(marriage)
        raw_data['city'].append(city)
        raw_data['channel'].append(channel)
        raw_data['before_ev'].append(before_ev)
        raw_data['part_ev'].append(part_ev)
        raw_data['after_ev'].append(after_ev)

    print("데이터가 생성되었습니다.")

# 데이터 생성 함수 호출
fake_register()

# DataFrame 생성
data = pd.DataFrame(raw_data)

# 데이터 미리 보기
data.head()

데이터가 생성되었습니다.

   age  gender  marriage  city  channel  before_ev  part_ev  after_ev
0   47       1         0    11        4          1        5         0
1   38       0         0     4        5          0        4         0
2   53       0         1     9        4          0        3         0
3   63       0         0     4        4          0        0         0
4   60       1         1     2        2          1        3         0

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        1000 non-null   int64
 1   gender     1000 non-null   int64
 2   marriage   1000 non-null   int64
 3   city       1000 non-null   int64
 4   channel    1000 non-null   int64
 5   before_ev  1000 non-null   int64
 6   part_ev    1000 non-null   int64
 7   after_ev   1000 non-null   int64
dtypes: int64(8)
memory usage: 62.6 KB

In [7]:
data.describe()

,age,gender,marriage,city,channel,before_ev,part_ev,after_ev
count,1000.00000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,45.04800,0.50000,0.502000,7.885000,5.473000,0.529000,2.995000,0.475000
std,11.74639,0.50025,0.500246,4.980822,3.449808,0.499408,1.995735,0.499624
min,25.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,35.00000,0.00000,0.000000,4.000000,3.000000,0.000000,1.000000,0.000000
50%,45.00000,0.50000,1.000000,8.000000,5.000000,1.000000,3.000000,0.000000
75%,55.00000,1.00000,1.000000,12.000000,9.000000,1.000000,5.000000,1.000000
max,65.00000,1.00000,1.000000,16.000000,11.000000,1.000000,6.000000,1.000000

In [21]:
# csv 파일로 저장
data.to_csv("members_data.csv", index=False, encoding='utf-8-sig')